.quotes-page {
  .main-title {
    color: #3c4043;
    font-size: 2.2rem;
  }

  .sec-title {
    color: #3c4043;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  form {
    label {
      color: #5f6063;
      font-weight: 600;
      letter-spacing: 1px;
    }

    input[type = text] {
      height: 60px;
    }

    input,
    textarea {
      border: 2px solid #e1e1e1;
      background-color: #fefefe;
      box-shadow: 0 0 33px -10px rgba(71,114,254,0.3);
      outline: none;
      padding-left: 20px;
    }

    input:focus,
    input:hover,
    textarea:focus,
    textarea:hover {
      border: 2px solid #3c4043;
    }

    .btn {
      height: 60px;
      background-color: #e9eeff;
      color: #4772fe;
      border: none;
      width: 100%;
    }
  }

  .landing-image {
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 40px;
  }

  .card {
    border: none;
    border-left: 5px solid #000!important;
    margin-bottom: 50px;
    border-radius: 6px;
    box-shadow: 0 0 33px -10px rgba(71,114,254,0.3);
  }

  .badge-primary {
    background-color: #e9eeff;
    color: #4772fe;
  }

  .badge-danger {
    background-color: #fef0f0;
    color: #3c4043;
  }

  .cat-tools {
    display: flex;
    justify-content: flex-end;

    .icon {
      padding: 5px 25px;

      i {
        cursor: pointer;
        font-size: 1.2rem;
        color: #3c4043;
      }

      .number {
        font-weight: 600;
        color: #5f6063;
        padding-left: 10px;
        user-drag: none!important;
        user-select: none!important;
        -moz-user-select: none!important;
        -webkit-user-drag: none!important;
        -webkit-user-select: none!important;
        -ms-user-select: none!important;
      }
    }
  }
}

.delete-modal {
  h5 {
    color: #3c4043;
  }

  p {
    color: #5f6063;
    letter-spacing: 1px;
  }

  .btn {
    text-transform: uppercase!important;
    letter-spacing: 1px;
    font-size: 0.85rem;
    padding: 6px 20px;
  }

  .btn-secondary {
    background-color: #fff;
    border: 2px solid #e1e1e1;
    color: #3c4043;
  }

  .btn-danger {
    background-color: #d11a2a;
    border: 2px solid #d11a2a;
    color: #fff;
  }
}
